<%= form_for @project do |f| %>
  <div>
    <%= render 'snippets/error_messages', target: @project %>
  </div>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <%= f.submit %>
<% end -%>